/* Color scheme of the website:
 - feather / #77C9D4
 - marine / #57BC90
 - forest / #015249
 - sleek grey / #A5A5AF */

html {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
body {
  margin: auto;
}

footer {
  color: white;
  position: absolute;
  background-color: #57bc90;
  width: 100%;
  border-bottom: 1rem solid #489c78;
}

img {
  width: 50%;
  height: 90%;
}

p {
  margin: auto;
  font-size: 18px;
  text-align: justify;
}
h2 {
  margin-top: 40px;
  margin-bottom: 0;
}
.uvod {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

li {
  text-align: left;
  font-size: 18px;
}
footer p {
  font-size: 15px;
  margin: 15px auto;
  text-align: center;
  line-height: 0.6;
}
.autor_datum {
  text-align: center;
  margin-bottom: 20px;
}
.menu {
  margin: 0 auto;
  display: flex;
  background-color: #3a956e;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}
.menu a:hover {
  font-weight: bold;
  background-color: #57bc90;
}
.menu a {
  text-decoration: none;
  color: white;
  padding: 12px 17px;
  text-align: center;
}
.menu p {
  margin: 0;
  color: white;
  font-weight: bold;
  text-align: center;
  padding-left: 17px;
  padding-right: 17px;
}

.historia,
.sucastnost,
.autonomne_riadenie {
  padding: 0px;
  margin-left: 630px;
  margin-right: 630px;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.title_image {
  width: 100%;
  height: 50%;
}

.text {
  inline-size: 800px;
  left: 300px;
  right: 300px;
  overflow-wrap: break-word;
  padding: 15px 15px;
  line-height: 1.7;
}

.share-btn {
  display: inline-block;
  color: #ffffff;
  border: none;
  padding: 0.1em 0.6em;
  outline: none;
  text-align: center;
  font-size: 0.9em;
  margin: 0 0.2em;
}

.share-btn:focus,
.share-btn:hover {
  text-decoration: none;
  opacity: 0.8;
}

.share-btn:active {
  color: #e2e2e2;
}

.share-btn.twitter {
  background: #55acee;
}
.share-btn.facebook {
  background: #3b5998;
}
.share-btn.email {
  background: #444444;
}
